<header class="widget-header">
    <h1 class="widget-heading">
        <%= link_to "My Messages", chains_path, class: "white-link" %>
    </h1> 
</header>

<div class="primary-widget-body">

    <div class="inner-profile-container"> 

        <div class="my-messages-widget">

            <header class="widget-header">
                <h1 class="widget-heading">
                    New Message
                </h1> 
            </header>

            <div class="new-message-body-container">
                 <%= render partial: "/messages/form", locals: {new_message: @message, current_user: current_user, friend: nil, chain: Chain.new } %>
            </div>

       

        </div>

        

    </div>

</div>
