<%= render partial: "profile_widget_header", locals: { current_user: current_user, profile: profile, editable: false, heading: "Connection" }  %>

<div class="widget-body">
  <% if current_user.owns_profile?(profile) %>
    <p class="profile-center">This is you.</p>
  <% elsif current_user.friends_with?(profile_owner) %>
    <p class="profile-center">You are friends with <%= profile_owner.name %>.</p>
  <% else %>
    <p class="profile-center">You and <%= @profile_owner.name %> aren't friends yet.</p>
  <% end %>
</div>