<%= render partial: "profile_widget_header", locals: { current_user: current_user, profile: profile, editable: false, heading: "Mutual Friends" }  %>

<div class="widget-body">
    <p><%= "You have #{pluralize(current_user.number_of_mutual_friends(profile_owner), "friend")} in common with #{@profile_owner.first_name}." %></p>
</div>