<table class="profile-menu">
  <tr><td>Visualize My Friends</td></tr>
  <tr><td><%= link_to "Edit My Profile", edit_profile_path(profile.slug) %></td></tr>
  <tr><td>My Account Preferences</td></tr>
  <tr><td>My Privacy Preferences</td></tr>
</table>