<header class="widget-header">
  <div class="widget-heading-container">
    <h2 class="widget-heading"><%= heading %></h2>

    <% if editable %>
      <p class="widget-subheading">
        <% if current_user.owns_profile?(profile) %>
          <%= link_to "[ edit ]", edit_profile_path(profile.slug) %>
        <% end %>
      </p>
    <% end %>
  </div>
</header>
