<div>
  <h2>Information</h2>
  <% if user == profile_owner %>
    <%# link_to edit_profile_path %>
  <% end %>
</div>

<div>
  <h3>Account Info:</h3>
  <ul>
    <li>Name: <%= profile_owner.name %></li>
    <li>Member Since: <%= profile_owner.member_since %></li>
    <li>Last Update: <%= profile.last_update %></li>
  </ul>
</div>
