<h1>Edit <%= @current_user.name %></h1>
<%= render partial: "edit_profile_information",
           locals: {
             user: @current_user,
             profile: @profile,
             looking_for_options: @looking_for_options,
             political_views: @political_views
           } %>