<header class="widget-header">
  <div class="widget-heading-container">
    <h1 class="widget-heading">Edit profile</h1>
  </div>
</header>

<%= render partial: "edit_profile_information", locals: { user: @current_user, profile: @profile } %>