<h1><%= @profile_owner.name %></h1>
<%= @profile_owner.mod.name %>

<%= render partial: "profile_information",
          locals: {
            current_user: @current_user,
            profile_owner: @profile_owner,
            profile: @profile
          } %>