<h1>My Friends</h1>

<% @friends.each do |friend| %>
    <%= friend.name%> <br>
    <% @friendship = Friendship.get_friendship(current_user, friend) %>
    <%= button_to "Remove Friend", destroy_friendship_path(@friendship), :method => :delete %>
    <br><br>
<% end %>