<h1>My Friends</h1>

<% @friends.each do |friend| %>
    <%= friend.name%> <br>
    <% @friendship = (Friendship.find_by(user_id: current_user.id, friend_id: friend.id) || Friendship.find_by(user_id: friend.id, friend_id: current_user.id))%>
    <% if @friendship %>
        <%= render partial: "/friendships/delete_form", locals: { current_user: current_user, user: friend, friendship: @friendship } %>
    <% else %>
        <%# Show nothing %>
    <% end %>
    <br><br>
<% end %>