<h1>All Users</h1>

<% @users.each do |user| %>
   
    <%= user.name %>
    <%= render partial: "/friendships/post_create_form", locals: {current_user: current_user, user: user} %>

    <% if @friendship = Friendship.get_existing_friendship(current_user, user) %>
        <%= render partial: "/friendships/delete_form", locals: {current_user: current_user, user: user, friendship: @friendship} %>
    <% end %>

    <br><br>
    
<% end %>