<p>To register for thefacebook.com, just fill in the four fields below. You will have a chance to enter additional information and submit a picture once you have registered.</p>

<%= render partial: "registration_form", locals: { user: @user } %>