<h1>My Friend Requests</h1>

<h2>Friend Requests</h2>

<% if @friend_requests.empty? %>
    You don't have any friend requests!
<% else %>
     <% @friend_requests.each do |request| %>
        <%= request.request_initiator.name %>
        <%= render partial: "/friendships/post_create_form", locals: {current_user: current_user, user: request.request_initiator} %>
    <% end %>
<% end %>

<h2>Pending Requests</h2>

<% if @pending_requests.empty? %>
    You don't have any pending friend requests!
<% else %>
    <% @pending_requests.each do |request| %>
        <%= request.request_receiver.name %>
        <%= render partial: "/friendships/post_create_form", locals: {current_user: current_user, user: request.request_receiver} %>
    <% end %>
<% end %>

    