.my-messages-widget {
    border: var(--primary-border);
 }

.new-message-button-container {
    margin-bottom: 10px;
    margin-left: 450px;
}

.message-preview-container {
    margin: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: var(--field-border)
}

.receiver-profile-img {
    object-fit: cover;
    width:40px;
    height:40px;
}

.message-date-receiver-preview-content-container {
    display: inline-block;
    vertical-align: middle;
    width: 440px;
}

.receiver-name-container {
    display: inline-block;
    /* width: 100px; */
}

.message-date-container {
    /* display: inline-block; */
    /* padding-left: 140px; */
    vertical-align: middle;
    float: right;
}

.message-receiver-date-container{
    vertical-align: middle;
    padding-bottom: 2px;
}

.message-date {
    font-size: 10px;
}

.message-from-header {
    font-weight: 700;
    font-size: 13px;
}

.new-message-body-container {
    margin: 10px;
    padding: 2px;
}


.message-to-field-container {
    padding: 2px;
}

.message-text-area-container {
    padding: 2px;
    margin:2px;
}

.message-send-button-container {
    padding: 2px;

}

.text-area {
    width: 100%;
    height: 120px;
}

.my-messages-widget-content-container {
    padding: 2px;
    margin: 2px;
}

.previous-messages-container { /*SCROLLING BOX*/
    height:300px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;

}

.previous-message-container {
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.friend-profile-img-container {
    display: inline-block;
    width: 7%;
    vertical-align: top;
}

.all-message-content-container {
    display: inline-block;
    width: 90%;
    vertical-align: top;
}

.message-name-container {
    display: inline-block;
}

.message-date-container {
    display: inline-block;
}

.message-text-container {
    padding: 2px;
}

.message-from-header {
    font-size: 11px;
    font-weight: 700;
}

.message-date-header {
    font-size: 9px;
}

.message-text {
    font-size: 11px;
}

.message-response-container {
    margin-top: 5px;
}

.white-link {
    color: white;
}

