.message-to-field-container {
    padding: 2px;
}

.message-text-area-container {
    padding: 2px;
    margin:2px;
}

.message-send-button-container {
    padding: 2px;

}

.text-area {
    width: 100%;
    height: 150px;
}