h1.widget-heading-no-header {
  margin-top: 18px;
}

h1.widget-heading-no-header, h2.static-heading {
  margin-bottom: 18px;

  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.registration-body-column {
  width: 488px;
  margin: auto;
}

p.static-body {
  margin-bottom: 12px;
}

.form-table.registration-form {
  margin-top: 8px;
  margin-left: 60px;
}

.registration-form td {
  max-width: 160px;
}

.mod-list {
  text-align: center;
  margin-bottom: 12px;
}

.single-field-container {
  max-width: 60%;
  margin-left: 66px;
  margin-bottom: 14px;
}

.terms-and-conditions-container {
  max-width: 60%;
  margin-left: 66px;
  margin-bottom: 14px;
}

.login-form {
  margin: auto;
  margin-bottom: 6px;
}

.form-table.login-form tr td {
  width: auto;
  padding-right: 3px;
}

.field-label-left.registration {
  width: 109px;
}

.checkbox-container {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  margin-right: 10px;
  padding-top: 8px;
  
}

.terms-conditions-label-container {
  display: inline-block;
  width: 90%;
}

.terms-conditions-label {
  font-size: 11px;
}

.primary-button.master-login {
  width: 64px;
  margin-right: 6px;
}

.primary-button.master-register {
  width: 56px;
}

.registration-form .small-print {
  text-align: center;
}

p.small-print.password {
  margin-bottom: 12px;
}

.password-warning {
  color: red;
}

.sidebar-login-form {
  margin-bottom: 11px;
}

.sidebar-login-form .field-label-top-right {
  display: block;
  font-size: 11px;
  text-align: right;
}

.sidebar-button-container {
  margin-left: 6px;
}

.primary-widget-button-container {
  margin-left: 38%;
}