.display-user-previews-container {
    margin-left: 40px;
    margin-right: 40px;
}

.user-preview-container {
    margin: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 440px;
    border: var(--field-border);
}

.user-img-preview-container {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.profile-photo-preview-img {
    object-fit: cover;
    width:56px;
    height:56px;
}

.user-info-preview-container {
    display: inline-block;
    width: 360px;
}

.user-preview-text-container {
    display: inline-block;
    vertical-align: middle;
    width: 190px;
}

.user-preview-name-header {
    font-weight: bold;
    color: black;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.invisible-link {
    color: black;
}

.user-preview-mod-header {
    /* padding-top: 5px;
    padding-bottom: 5px; */
}

.user-preview-buttons-container {
    display: inline-block;
    /* right: 10px; */
    padding-top: 5px;
    vertical-align: middle;
    float: right;

}

.user-preview-button-container {
    float: right;
}

.pending-request-button {
    height: 19px;
    background-color: var(--primary-grey);
    color: white;
    font: normal 11px Tahoma, Arial, sans-serif;
  
    padding: 0 7px;
    border-top: var(--button-highlight-border);
    border-left: var(--button-highlight-border);
    border-bottom: var(--primary-border);
    border-right: var(--primary-border);
}

/* Requests Page */

.requests-container {
    padding-bottom: 20px;
}

.requests-header-container {
    margin-bottom: 10px;
}

.requests-header {
    font-weight: bold;
}

.notice-container {
    margin:10px;
}

.friends-widget {
    border: var(--primary-border);
    margin-bottom: 10px;
}

.delete-friend-request-link {
    font-size: 9px;
    color: var(--primary-grey);
    padding-top: 3px;
    /* padding-left: 16px; */
    /* float: right; */
}

.top-notice-container {
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
}

