.widget-header {
  height: 18px;
  background-color: var(--primary-blue);
  padding-left: 2px;
}

h1.widget-heading {
  color: white;
}

.primary-widget-body {
  padding: 18px 8px;  
}

p.static-body {
  text-align: center;
}

h2.static-heading {
  margin-bottom: 18px;

  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

p {
  margin-bottom: 12px;
}

.mod-list {
  text-align: center;
}

.primary-widget-button-container {
  margin-left: 40%;
}

