.widget {
  border: var(--primary-border);
  margin-bottom: 18px;
}

.widget-header {
  height: 18px;
  background-color: var(--primary-blue);
  padding-left: 2px;
}

h1.widget-heading {
  display: inline-block;
  color: white;
}

h2.widget-heading {
  display: inline-block;
  color: white;
}

p.widget-subheading {
  float: right;
  margin-right: 2px;
  color: white;
}

p.widget-subheading a {
  color: white;
}

.widget-body {
  padding: 2px;
}

.primary-widget-body {
  padding: 18px 12px;  
}

.sidebar-widget {
  margin-bottom: 2px;
}

.search-form-container {
  padding: 8px;
}

.sidebar-nav {
  padding: 8px;
}

.sidebar-nav-link {
  display: block;
  font-size: 11px;
}

.sidebar-nav-link.sidebar-profile-link {
  display: inline-block;
}

.search-form-container {
  font-size: 11px;
}

.search-form-container .text-field {
  width: 90px;
}

.highlight-button {
  height: 19px;
  background-color: var(--secondary-blue);
  color: white;
  font: normal 11px Tahoma, Arial, sans-serif;

  padding: 0 8px;
  border-top: var(--button-highlight-border);
  border-left: var(--button-highlight-border);
  border-bottom: var(--primary-border);
  border-right: var(--primary-border);
}

input[type=submit].highlight-submit {
  background-color: var(--secondary-blue);
}

