<nav>

<div> Currently logged in as: <%= current_user.name %></div>

<div>My Profile</div>

<div>My Friends</div>

<div>My Groups</div>

<div>My Parties</div>

<div>My Messages</div>

<div>My Account</div>

<div>My Privacy</div>

</nav>